---
const { title, resume, src, href } = Astro.props;
---

<a
  class="flex flex-col md:h-96 h-72 w-64 m-5 rounded-xl hover:cursor-pointer animate-zoom"
  href={href}
>
  <img src={src} alt="Logo del club" class="h-40 object-cover" />
  <div class="relative bg-transparent">
    <div class="flex flex-col items-center">
      <p class="text-3xl text-center">{title}</p>
      <small class="text-slate-700 m-5 text-center">{resume}</small>
    </div>
  </div>
</a>
<style>
  .animate-zoom:hover {
    animation: animate-zoom 1s;
    animation-fill-mode: forwards; /* Mantiene el estado final de la animación */
  }
</style>
