---

---

<div
  class="flex w-full items-center justify-center p-5 text-center md:text-justify"
>
  <div
    class="prose-p:font-sans text-black text-xl prose-p:pb-5
    prose-a:text-blue-600 prose-img:rounded-xl
    prose-headings:underline"
  >
    <slot />
  </div>
</div>
