  @keyframes slide-in {
      from {
        transform: translateX(-100%);
        opacity: 0.25;
      }

      to {
        transform: translateX(0%);
        opacity: 1;
      }
  }

  @keyframes slide-down {
    from {
      transform: translateY(100%);
    }

    to {
      transform: translateY(60%);
      opacity: 1;
    }
  }


    @keyframes animate-zoom {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.05);
      }
    }

  @font-face {
      font-family: 'Montserrat';
      src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
      /* Agrega aquí los demás formatos de fuente compatibles si los tienes disponibles */
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'Montserrat';
      src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
      /* Agrega aquí los demás formatos de fuente compatibles si los tienes disponibles */
      font-weight: bold;
      font-style: normal;
  }
