<div
  class="min-h-screen bg-[#ffe2a1] flex flex-row items-center justify-center text-center"
>
  <div class="grid place-items-center">
    <video class="w-full h-auto sm:hidden" autoplay loop muted playsinline>
      <source
        src="https://biyagvzgfmfdacqnofkq.supabase.co/storage/v1/object/public/images/CampusMOBILE.mp4?t=2024-05-16T13%3A17%3A31.332Z"
        type="video/mp4"
      />
    </video>
    <video
      class="w-full h-auto object-center hidden sm:block"
      autoplay
      loop
      muted
      playsinline
    >
      <source
        src="https://biyagvzgfmfdacqnofkq.supabase.co/storage/v1/object/public/images/CampusFULL.mp4?t=2024-05-16T13%3A07%3A13.176Z"
        type="video/mp4"
      />
    </video>
    <div class="h-24 bg-[#9eca45] w-full flex items-center justify-center">
      <a
        class="flex text-center items-center justify-center w-72 bg-[#ffe2a1] hover:transparent text-[#1a4e88] font-semibold py-2 px-4 md:m-6 m-2 border-transparent hover:border-[#1a4e88] border-4 rounded animate-wiggle animate-infinite"
        href="https://docs.google.com/forms/d/e/1FAIpQLSf8nGTwg1afslMSJDlMD9mT0wCdvPDA0zVTkCYALAkI2PcaXQ/closedform"
        target="_blank"
      >
        Inscripción
      </a>
    </div>
  </div>
</div>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&family=Nanum+Pen+Script&family=Oswald&family=Style+Script&display=swap");
  .nanum-pen-script-regular {
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
  }
</style>
