<div class="min-h-screen bg-black relative">
  <div class="grid place-items-center">
    <video
      class="w-full h-screen object-cover object-center"
      autoplay
      loop
      muted
      playsinline
    >
      <source
        src="https://biyagvzgfmfdacqnofkq.supabase.co/storage/v1/object/public/images/test04.mp4"
        type="video/mp4"
      />
    </video>
  </div>
  <h1
    class="text-white md:text-6xl text-4xl font-bold text-center z-20 absolute top-20 left-10 animate-jump-in animate-once animate-duration-1000 animate-ease-in"
  >
    CAMPEONES DE LIGA
  </h1>
  <h1
    class="text-white md:text-6xl text-2xl font-bold text-center z-20 absolute md:bottom-[35rem] bottom-[20rem] right-2 animate-fade-left animate-once animate-duration-500 animate-delay-500 animate-ease-out"
  >
    Enhorabuena Equipo!!!
  </h1>
</div>
