---
import back from "../../public/assets/homeBackground.webp";
import GlobalLayout from "../layouts/GlobalLayout.astro";
import CbhButton from "../components/cbhbutton/CbhButton.astro";
import PaperHome from "../components/paperhome/PaperHome.astro";
import LastNews from "../components/lastNews/LastNews.astro";
import "../styles/global.css";

const pageTitle = "Club Bádminton Huesca";
---

<GlobalLayout pageTitle={pageTitle}>
  <div
    class="flex flex-col bg-cover bg-center h-screen"
    style="background-image: url('/assets/homeBackground.webp');"
  >
    <div class="flex flex-col items-start justify-center h-full">
      <h1
        class="text-white text-5xl font-bold cursor-default animate-slide-in ml-3 md:ml-16 font-sans pt-10"
      >
        Badminton Huesca
      </h1>
      <div class="flex flex-col md:flex-row md:ml-32 ml-3">
        <CbhButton title="Contacta con nosotros" href="/about" />
        <CbhButton title="Reserva una pista" href="/about" />
      </div>
    </div>
    <div class="flex flex-col justify-center items-center mb-12">
      <PaperHome />
    </div>
  </div>
  <div class="w-full h-[75rem] md:h-60 bg-slate-200"></div>
  <div class="flex flex-col justify-center items-center">
    <LastNews />
  </div>
</GlobalLayout>
<style>
  .animate-slide-in {
    animation-delay: 1s;
    animation: slide-in 2s; /* Duración, tipo, y retardo de la animación */
    animation-fill-mode: forwards; /* Mantiene el estado final de la animación */
  }
  .animate-slide-down {
    animation-delay: 1s;
    animation: slide-down 2s; /* Duración, tipo, y retardo de la animación */
    animation-fill-mode: forwards; /* Mantiene el estado final de la animación */
  }
</style>
