---
import back from "../../public/assets/homeBackground.webp";
import GlobalLayout from "../layouts/GlobalLayout.astro";
import CbhButton from "../components/cbhbutton/CbhButton.astro";
import PaperHome from "../components/paperhome/PaperHome.astro";
import LastNews from "../components/lastNews/LastNews.astro";
import Archivements from "../components/archivements/Archievements";
import "../styles/global.css";
import ChampionsLanding from "../components/speciallanding/ChampionsLanding.astro";
import Campus from "../components/speciallanding/Campus.astro";

const pageTitle = "Club Bádminton Huesca";
---

<GlobalLayout pageTitle={pageTitle}>
  <!--

  <div
    class="flex flex-col bg-cover bg-center h-screen"
    style="background-image: url('/assets/homeBackground.webp');"
  >
    <div class="flex flex-col items-start justify-center h-full">
      <h1
        class="text-white text-5xl font-bold cursor-default animate-slide-in ml-3 md:ml-16 font-sans pt-10"
      >
        Bádminton Huesca
      </h1>
      <div class="flex flex-col md:flex-row md:ml-32 ml-1">
        <a
          type="button"
          id="scrollButton"
          class="bg-black hover:bg-black text-white font-semibold hover:text-white py-2 px-4 md:m-6 m-2 border border-white hover:border-transparent rounded"
        >
          Contacta con nosotros
        </a>
        <a
          type="button"
          id="scrollButton"
          class="bg-black hover:bg-black text-white font-semibold hover:text-white py-2 px-4 md:m-6 m-2 border border-white hover:border-transparent rounded"
        >
          Reserva una pista
        </a>
      </div>
    </div>
       -->
      <div
      class=" bg-slate-200 items-center justify-center text-center"
    >
      <div class=" bg-slate-200 w-full flex justify-center items-center pt-5">
        <a
          class="flex text-center items-center justify-center w-72 bg-slate-100 hover:transparent text-[#1a4e88] font-semibold py-2 px-4 md:m-6 m-2 border-transparent hover:border-[#1a4e88] border-4 rounded"
          href="https://btonhuesca.playoffinformatica.com/actividad/44/RENOVACION-Y-TRAMITACION-DE-LICENCIAS-ANO-2025/"
          target="_blank"
        >
          Tramitación de Licencia 2025
        </a>
      </div>
      <div class="flex flex-col items-center w-full">
        <video class="w-full h-auto sm:hidden" autoplay loop muted playsinline>
          <source
            src="https://biyagvzgfmfdacqnofkq.supabase.co/storage/v1/object/public/galleries/licenciashistory.mp4?t=2024-12-24T14%3A15%3A24.776Z"
            type="video/mp4"
          />
        </video>
        <video
          class="w-auto h-screen hidden sm:block bg-slate-200"
          autoplay
          loop
          muted
          playsinline
        >
          <source
            src="https://biyagvzgfmfdacqnofkq.supabase.co/storage/v1/object/public/galleries/licencias2025.mp4?t=2024-12-24T14%3A14%3A14.419Z"
            type="video/mp4"
          />
        </video>
        <div class=" bg-slate-200 w-full flex justify-center">
          <a
            class="flex text-center items-center justify-center w-72 bg-slate-100 hover:transparent text-[#1a4e88] font-semibold py-2 px-4 md:m-6 m-2 border-transparent hover:border-[#1a4e88] border-4 rounded"
            href="https://btonhuesca.playoffinformatica.com/actividad/44/RENOVACION-Y-TRAMITACION-DE-LICENCIAS-ANO-2025/"
            target="_blank"
          >
          Tramitación de Licencia 2025
          </a>
        </div>
      </div>
    </div>
    <div class="flex flex-col justify-center items-center mb-12 mt-12 md:mt-1 bg-slate-200">
      <PaperHome />
    </div>
  </div>
  <div class="w-full h-[55rem] md:h-60 bg-slate-200"></div>
  <div class="flex flex-col justify-center items-center">
    <Archivements client:load />
  </div>
  <div class="flex flex-col justify-center items-center">
    <LastNews />
  </div>
</GlobalLayout>
<style>
  .animate-slide-in {
    animation-delay: 1s;
    animation: slide-in 2s; /* Duración, tipo, y retardo de la animación */
    animation-fill-mode: forwards; /* Mantiene el estado final de la animación */
  }
</style>
<script>
  document
    .getElementById("scrollButton")
    .addEventListener("click", function () {
      const fullHeight = Math.max(
        document.body.scrollHeight,
        document.body.offsetHeight,
        document.documentElement.clientHeight,
        document.documentElement.scrollHeight,
        document.documentElement.offsetHeight
      );

      const scrollDuration = 3000; // Duración total del desplazamiento en milisegundos
      const scrollStep = 40; // Píxeles desplazados en cada paso

      // Calcula el número total de pasos
      const totalSteps = Math.ceil(scrollDuration / scrollStep);

      // Inicializa el paso actual
      let currentStep = 0;

      // Función de animación usando requestAnimationFrame
      function scrollToBottom() {
        currentStep++;
        const percentage = currentStep / totalSteps;
        const scrollTop = percentage * (fullHeight - window.innerHeight);

        window.scrollTo({
          top: scrollTop,
          behavior: "auto", // 'auto' para un desplazamiento suave más lento
        });

        if (currentStep < totalSteps) {
          // Continúa la animación
          requestAnimationFrame(scrollToBottom);
        }
      }

      // Inicia la animación
      requestAnimationFrame(scrollToBottom);
    });
</script>
