---
import back from "../../public/assets/homeBackground.webp";
import GlobalLayout from "../layouts/GlobalLayout.astro";
import CbhButton from "../components/cbhbutton/CbhButton.astro";
import PaperHome from "../components/paperhome/PaperHome.astro";
import LastNews from "../components/lastNews/LastNews.astro";
import Archivements from "../components/archivements/Archievements";
import "../styles/global.css";
import ChampionsLanding from "../components/speciallanding/ChampionsLanding.astro";

const pageTitle = "Club Bádminton Huesca";
---

<GlobalLayout pageTitle={pageTitle}>
  <div
    class="flex flex-col bg-cover bg-center h-screen"
    style="background-image: url('/assets/homeBackground.webp');"
  >
    <div class="flex flex-col items-start justify-center h-full">
      <a
        href="https://badmintonhuesca.es/posts/20240329-horarios-semana-santa"
        class="bg-red-500 hover:bg-red-600 text-white font-sans font-bold py-2 px-4 rounded-full shadow md:fixed mt-5 ml-5 top-15 right-5 h-44 w-44 flex items-center justify-center text-center animate-jump animate-infinite animate-duration-[2000ms]"
        >HORARIOS Y PROMOCIÓN S.SANTA</a
      >

      <h1
        class="text-white text-5xl font-bold cursor-default animate-slide-in ml-3 md:ml-16 font-sans pt-10"
      >
        Bádminton Huesca
      </h1>
      <div class="flex flex-col md:flex-row md:ml-32 ml-1">
        <a
          type="button"
          id="scrollButton"
          class="bg-black hover:bg-black text-white font-semibold hover:text-white py-2 px-4 md:m-6 m-2 border border-white hover:border-transparent rounded"
        >
          Contacta con nosotros
        </a>
        <a
          type="button"
          id="scrollButton"
          class="bg-black hover:bg-black text-white font-semibold hover:text-white py-2 px-4 md:m-6 m-2 border border-white hover:border-transparent rounded"
        >
          Reserva una pista
        </a>
      </div>
    </div>
    <div class="flex flex-col justify-center items-center mb-12 mt-12 md:mt-1">
      <PaperHome />
    </div>
  </div>
  <div class="w-full h-[55rem] md:h-60 bg-slate-200"></div>
  <div class="flex flex-col justify-center items-center">
    <Archivements client:load />
  </div>
  <div class="flex flex-col justify-center items-center">
    <LastNews />
  </div>
</GlobalLayout>
<style>
  .animate-slide-in {
    animation-delay: 1s;
    animation: slide-in 2s; /* Duración, tipo, y retardo de la animación */
    animation-fill-mode: forwards; /* Mantiene el estado final de la animación */
  }
  .animate-slide-down {
    animation-delay: 1s;
    animation: slide-down 2s; /* Duración, tipo, y retardo de la animación */
    animation-fill-mode: forwards; /* Mantiene el estado final de la animación */
  }
</style>
<script>
  document
    .getElementById("scrollButton")
    .addEventListener("click", function () {
      const fullHeight = Math.max(
        document.body.scrollHeight,
        document.body.offsetHeight,
        document.documentElement.clientHeight,
        document.documentElement.scrollHeight,
        document.documentElement.offsetHeight
      );

      const scrollDuration = 3000; // Duración total del desplazamiento en milisegundos
      const scrollStep = 40; // Píxeles desplazados en cada paso

      // Calcula el número total de pasos
      const totalSteps = Math.ceil(scrollDuration / scrollStep);

      // Inicializa el paso actual
      let currentStep = 0;

      // Función de animación usando requestAnimationFrame
      function scrollToBottom() {
        currentStep++;
        const percentage = currentStep / totalSteps;
        const scrollTop = percentage * (fullHeight - window.innerHeight);

        window.scrollTo({
          top: scrollTop,
          behavior: "auto", // 'auto' para un desplazamiento suave más lento
        });

        if (currentStep < totalSteps) {
          // Continúa la animación
          requestAnimationFrame(scrollToBottom);
        }
      }

      // Inicia la animación
      requestAnimationFrame(scrollToBottom);
    });
</script>
