---
import GlobalLayout from "../layouts/GlobalLayout.astro";

const pageTitle = "Aviso Legal";
---

<GlobalLayout>
  <div class="flex justify-center items-start h-full">
    <div class="flex flex-col flex-wrap md:w-2/3 mt-10 mb-10 w-full ml-1 mr-1">
      <h1 class="text-6xl font-sans mb-10">Aviso Legal</h1>
      <p class="text-lg font-sans mb-5">
        En cumplimiento del artículo 10 de la Ley 34/2002, de 11 de julio, de
        Servicios de la Sociedad de la Información y Comercio Electrónico te
        informamos que el Titular del sitio web badmintonhuesca.es (en adelante,
        el 'sitio Web'), es A.D. Bádminton Huesca, con CIF G22119051 y domicilio
        social en calle Alcañiz 4 - 22004, Huesca. Puedes contactar con nosotros
        a través del correo electrónico contacto@badmintonhuesca.es
      </p>

      <h4 class="text-3xl font-sans mb-10">Datos del titular</h4>
      <p class="text-lg font-sans mb-5">
        Titular del portal: A.D. BÁDMINTON HUESCA
      </p>
      <p class="text-lg font-sans mb-5">CIF: G22119051</p>
      <p class="text-lg font-sans mb-5">Calle Alcañiz, 4. 22004 Huesca</p>
      <p class="text-lg font-sans mb-5">
        Contacto: secretaria@badmintonhuesca.es
      </p>

      <h4 class="text-3xl font-sans mb-10">Objeto</h4>
      <p class="text-lg font-sans mb-5">
        La finalidad del sitio Web de Bádminton Huesca tiene por objeto informar
        sobre las actividades que realiza y de los Servicios que presta, atender
        las solicitudes de contacto e informar sobre las novedades y noticias
        del Club.
      </p>

      <h4 class="text-3xl font-sans mb-10">Condiciones de Uso</h4>
      <p class="text-lg font-sans mb-5">
        La utilización del sitio Web te otorga la condición de Usuario y está
        condicionado a la lectura previa y aceptación completa, expresa y sin
        reservas de todas las cláusulas y condiciones de uso incluidas en este
        Aviso Legal y en la Política de Privacidad a las que puedes acceder
        desde estos enlaces:
      </p>
      <a class="text-lg font-sans mb-5 pl-10" href="/privacy-politics">
        Política y Privacidad
      </a>

      <h4 class="text-3xl font-sans mb-10">Objeto</h4>
      <p class="text-lg font-sans mb-5">
        A través del sitio Web, te facilita el acceso y la utilización de
        diversos contenidos que Bádminton Huesca o sus colaboradores han
        publicado por medio de Internet.
      </p>
      <p class="text-lg font-sans mb-5">
        A tal efecto, te obligas y comprometes a NO utilizar cualquiera de los
        contenidos del sitio Web con fines o efectos ilícitos, prohibidos en
        este Aviso Legal o por la legislación vigente, lesivos de los derechos e
        intereses de terceros, o que de cualquier forma puedan dañar,
        inutilizar, sobrecargar, deteriorar o impedir la normal utilización de
        los contenidos, los equipos informáticos o los documentos, archivos y
        toda clase de contenidos almacenados en cualquier equipo informático
        propios o contratados, de otros Usuarios o de cualquier usuario de
        Internet.
      </p>
      <p class="text-lg font-sans mb-5">
        En todo caso, Bádminton Huesca se compromete a la retirada inmediata de
        cualquier contenido que pudiera contravenir la legislación nacional o
        internacional, la moral o el orden público, y ponerlo en conocimiento de
        las autoridades competentes.
      </p>

      <h4 class="text-3xl font-sans mb-10">Las Noticias</h4>
      <p class="text-lg font-sans mb-5">
        Bádminton Huesca dispone de un blog dónde publica contenidos de su
        interés y que es accesible desde la dirección web
        https://badmintonhuesca.es/news
      </p>
      <p class="text-lg font-sans mb-5">
        Respecto al contenido de los artículos del Blog eres libre de:
      </p>
      <p class="text-lg font-sans mb-5 pl-10">
        Compartir, copiar y redistribuir el material en cualquier medio o
        formato.
      </p>
      <p class="text-lg font-sans mb-5 pl-10">
        Adaptar, remezclar, transformar y crear a partir del material.
      </p>
      <p class="text-lg font-sans mb-5">Bajo las condiciones siguientes:</p>
      <p class="text-lg font-sans mb-5 pl-10">
        Reconocimiento: Debe reconocer adecuadamente la autoría, proporcionar un
        enlace a la licencia e indicar si se han realizado cambios. Puede
        hacerlo de cualquier manera razonable, pero no de una manera que sugiera
        que tiene el apoyo del licenciador o lo recibe por el uso que hace.
      </p>
      <p class="text-lg font-sans mb-5 pl-10">
        No Comercial: No puede utilizar el material para una finalidad
        comercial.
      </p>
      <p class="text-lg font-sans mb-5 pl-10">
        Compartir Igual: Si remezcla, transforma o crea a partir del material,
        deberá difundir sus contribuciones bajo la misma licencia que el
        original.
      </p>

      <h4 class="text-3xl font-sans mb-10">Enlaces a terceros</h4>
      <p class="text-lg font-sans mb-5">
        Bádminton Huesca puede proporcionarte acceso a otros sitios Web ajenos
        mediante enlaces con la finalidad exclusiva de informarte sobre la
        existencia de otras fuentes de información en Internet en las que podrás
        ampliar los datos ofrecidos en el sitio Web. Estos enlaces a otros
        sitios Web no suponen en ningún caso una sugerencia o recomendación para
        que visites las páginas web de destino, que están fuera del control de
        Bádmintn Huesca y sobre las que no asume ninguna responsabilidad
        respecto a dichos contenidos ni del resultado que obtengas al seguir los
        enlaces.
      </p>
      <p class="text-lg font-sans mb-5">
        En todo caso, Bádminton Huesca se compromete a la eliminación de
        cualquier enlace o redirección que pudiera contravenir la legislación
        nacional o internacional, la moral o el orden público, y ponerlo en
        conocimiento de las autoridades competentes.
      </p>

      <h4 class="text-3xl font-sans mb-10">Modificaciones</h4>
      <p class="text-lg font-sans mb-5">
        Bádminton Huesca se reserva el derecho a modificar, suspender, cancelar
        o restringir el contenido del sitio Web, su diseño y los enlaces
        contenidos sin necesidad de previo aviso.
      </p>

      <h4 class="text-3xl font-sans mb-10">Exención de responsabilidades</h4>
      <p class="text-lg font-sans mb-5">
        Bádminton Huesca no garantiza la inexistencia de errores en el acceso o
        en el contenido del sitio Web o del Blog, ni que estos se encuentren
        actualizados, aunque Bádminton Huesca realizará los mayores esfuerzos
        para evitarlos, corregirlos o para mantener actualizada su información.
      </p>
      <p class="text-lg font-sans mb-5">
        Bádminton Huesca no se hace responsable por los daños que se puedan
        causar en los equipos o sistemas de los usuarios por posibles virus
        informáticos que se hubieran podido contraer por la navegación del
        usuario en el sitio Web.
      </p>

      <h4 class="text-3xl font-sans mb-10">Datos personales</h4>
      <p class="text-lg font-sans mb-5">
        Puedes consultar toda la información relativa al tratamiento de datos
        personales que realiza Superadmin en la página de Política de
        Privacidad.
      </p>
      <a class="text-lg font-sans mb-5 pl-10" href="/privacy-politics">
        Política y Privacidad
      </a>

      <h4 class="text-3xl font-sans mb-10">Propiedad intelectual</h4>
      <p class="text-lg font-sans mb-5">
        El sitio web de bádminton Huesca, incluyendo a título enunciativo pero
        no limitativo su programación, diseño y demás elementos necesarios para
        su funcionamiento, logotipos, texto, gráficos e imágenes son propiedad
        de Bádminton Huesca correspondiéndonos el ejercicio exclusivo de los
        derechos de explotación.
      </p>
      <p class="text-lg font-sans mb-5">
        Los diseños, logotipos, textos y gráficos ajenos a Bádminton Huesca y
        que pudieran aparecer en el sitio Web, pertenecen a sus respectivos
        propietarios. Bádminton Huesca reconoce a favor de sus titulares los
        correspondientes derechos de propiedad intelectual e industrial, no
        implicando su sola mención o aparición en el sitio Web la existencia de
        derechos o responsabilidad alguna sobre los mismos, como tampoco
        respaldo, patrocinio o recomendación por parte de Bádminton Huesca.
      </p>

      <h4 class="text-3xl font-sans mb-10">
        Legislación aplicable y Jurisdicción
      </h4>
      <p class="text-lg font-sans mb-5">
        Para la resolución de todas las controversias o cuestiones relacionadas
        con el sitio Web o de las actividades en él desarrolladas, será de
        aplicación la legislación española, a la que se someten expresamente las
        partes, siendo competentes para la resolución de todos los conflictos
        derivados o relacionados con su uso los Juzgados y Tribunales más
        cercanos a Huesca.
      </p>

      <p class="text-lg font-sans mb-5 mt-10">
        Última actualización el 24 de Marzo de 2024.
      </p>
    </div>
  </div>
</GlobalLayout>
