---
const { disable, title, href } = Astro.props;
---

{
  href != null ? (
    <a
      type="button"
      class="flex justify-center items-center bg-black hover:bg-black text-white font-semibold hover:text-white py-2 px-4 border border-white hover:border-transparent rounded"
      href={href}
    >
      {title}
    </a>
  ) : (
    <a
      type="button"
      class="flex justify-center items-center bg-slate-300 text-white font-semibold hover:text-white py-2 px-4 border rounded"
    >
      {title}
    </a>
  )
}
