---
import InscriptionSvg from "./InscriptionSvg.astro";
import DrawSvg from "./DrawSvg.astro";

const { element } = Astro.props;

const getOrg = (organization: String) => {
  switch (organization) {
    case "FESBA":
      return "./assets/logos/bad_spain2.jpeg";
    case "FARBA":
      return "./assets/logos/bad_farba.jpeg";
    case "CAT":
      return "./assets/logos/bad_cat.jpeg";
    case "PV":
      return "./assets/logos/bad_pvasco.jpeg";
    default:
      return "./assets/logos/bad_spain2.jpeg";
  }
};

export const dateToLocalString = (date: String) => {
  const meses = [
    "Enero",
    "Febrero",
    "Marzo",
    "Abril",
    "Mayo",
    "Junio",
    "Julio",
    "Agosto",
    "Septiembre",
    "Octubre",
    "Noviembre",
    "Diciembre",
  ];

  const partes = date.split("-");

  if (partes.length !== 3) {
    // La cadena no tiene el formato esperado
    return null;
  }

  const dia = parseInt(partes[2], 10);
  const mesIndex = parseInt(partes[1], 10) - 1;

  if (
    isNaN(dia) ||
    isNaN(mesIndex) ||
    mesIndex < 0 ||
    mesIndex >= meses.length ||
    dia < 1 ||
    dia > 31
  ) {
    // La cadena contiene valores inválidos
    return null;
  }

  const mes = meses[mesIndex];

  return `${dia} de ${mes}`;
};
---

<div
  class="relative flex flex-col md:w-96 m-1 h-64 shadow-xl rounded-xl bg-white mb-2 mt-2 w-[95%] hover:scale-105 transition duration-500"
>
  <div class="flex w-full h-3/4 overflow-hidden rounded-xl justify-center">
    <img
      class="w-2/3 h-full object-scale-down p-2"
      src={getOrg(element?.org || "")}
      alt={`Thumbnail image`}
    />
  </div>
  <div class="flex flex-col h-32">
    <small
      class="text-s text-slate-700 font-bold overflow-hidden max-h-14 overflow-ellipsis max-w-xs ml-2"
    >
      {dateToLocalString(element?.date || "") + " - " + element?.location}
    </small>
    <p class="text-lg text-black font-bold max-w-full md:text-3xl ml-2 mb-3">
      {element?.name || ""}
    </p>
  </div>
  <div class="flex flex-row">
    <InscriptionSvg element={element} />
    <DrawSvg element={element} />
  </div>
</div>
