---
import CbhButton from "../../components/cbhbutton/CbhButton.astro";
import GlobalLayout from "../../layouts/GlobalLayout.astro";
import ButtonTable from "./ButtonTable.astro";
import CalendarCard from "./CalendarCard.astro";
import {
  getAllTournaments,
  type Tournament,
} from "../../pages/api/tournaments/tournaments";

const pageTitle = "Calendario";

const data = await getAllTournaments();
---

<GlobalLayout pageTitle={pageTitle}>
  <div
    class="flex flex-col h-30 items-center justify-center bg-cover bg-center"
    style="background-image: url('/assets/aboutHeader.webp');"
  >
    <div class="flex-none">
      <div class="flex flex-col items-center justify-center h-36 md:h-96">
        <h1
          class="text-6xl md:text-5xl lg:text-6xl text-white font-sans font-extrabold text-center mb-4 z-10"
        >
          {pageTitle.toUpperCase()}
        </h1>
        <p class="text-lg text-white text-center z-10 font-sans"></p>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center w-full bg-slate-300">
    <div
      class="flex flex-col flex-wrap md:flex-row md:w-2/3 w-full justify-center items-center"
    >
      {data.map((element: Tournament) => <CalendarCard element={element} />)}
    </div>
  </div>
</GlobalLayout>
<style>
  html,
  body {
    height: 100%;
  }

  @media (min-width: 640px) {
    table {
      display: inline-table !important;
    }

    thead tr:not(:first-child) {
      display: none;
    }
  }

  td:not(:last-child) {
    border-bottom: 0;
  }

  th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }
</style>
