---
import { Image } from "astro:assets";
import CbhButton from "../cbhbutton/CbhButton.astro";
import Input from "./Input.astro";
import SocialMedia from "../socialmedia/SocialMedia.astro";
import FeedbackForm from "./FeedbackForm";
---

<div class="relative bottom-0 z-1">
  <div class="flex flex-wrap h-96">
    <div class="flex-auto sm:w-1/3 m-3">
      <div class="flex flex-row justify-center items-center m-3">
        <Image
          src="/assets/logos/logo-finalb.png"
          alt="Logo"
          class="filter brightness-0"
          width={150}
          height={600}
        />
      </div>
      <div class="flex justify-center items-center">
        <p class="text-xl font-semibold font-sans">CLUB BÁDMINTON HUESCA</p>
      </div>
      <p class="font-sans mt-5">
        Síguenos en redes sociales, interactúa y contáctanos para ser parte del
        Club como jugador, entrenador, simpatizante o colaborador
      </p>
      <div class="flex h-44 justify-center items-center">
        <SocialMedia size="48" />
      </div>
    </div>
    <div class="flex-auto sm:w-1/3 m-10">
      <div class="m-3 w-max-96">
        <FeedbackForm client:load />
      </div>
      <div class="flex-auto sm:w-1/3 justify-center items-center">
        <div class="flex flex-row items-center justify-center">
          <div>
            <Image
              src={"/assets/logos/ayuntamiento.png"}
              alt="ayuntamiento"
              height={30}
              width={150}
              class="m-5"
            />
          </div>
          <div>
            <Image
              src={"/assets/logos/huesca-magia.png"}
              alt="huesca-magia"
              height={30}
              width={150}
              class="m-5"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
