---

---

<div class="sticky h-screen w-screen bg-[#fad44d]">
  <div
    class="absolute md:inset-x-0 md:mx-auto z-10 md:w-1/3 animate-flip-down animate-once animate-duration-[2000ms] animate-delay-1000 animate-ease-in-out"
  >
    <img
      class="bg-no-repeat"
      src="https://biyagvzgfmfdacqnofkq.supabase.co/storage/v1/object/public/images/cartelPJornada.png?t=2024-03-30T18%3A48%3A46.690Z"
      alt="cartel"
    />
  </div>
  <div
    class="absolute md:top-20 top-[14rem] md:right-10 right-3 z-10 md:animate-bounce md:animate-infinite md:animate-duration-[2000ms]"
  >
    <img
      class="bg-no-repeat"
      src="https://biyagvzgfmfdacqnofkq.supabase.co/storage/v1/object/public/images/infoleague.png?t=2024-03-28T17%3A55%3A13.717Z"
      alt="info"
    />
  </div>
  <div class="absolute md:top-0 md:left-0 bottom-12 object-fill z-20">
    <img
      class="object-cover bg-no-repeat bg-cover"
      src="https://biyagvzgfmfdacqnofkq.supabase.co/storage/v1/object/public/images/seniorLeague-mu2.png?t=2024-03-28T08%3A42%3A49.401Z"
      alt="señor"
    />
  </div>
  <div
    class="absolute w-56 md:bottom-[18rem] md:right-[9rem] bottom-[36rem] right-[3.5rem] object-fill z-30"
  >
    <a
      class="flex text-center items-center justify-center w-56 bg-[#ed5649] hover:transparent text-[#744438] font-semibold py-2 px-4 md:m-6 m-2 border-transparent hover:border-[#744438] border-4 rounded"
      href="mailto:eventos@badmintonhuesca.es?subject=Inscripción Liga social"
    >
      Inscripción
    </a>
  </div>
</div>
