---

---

<div class="relative h-screen w-screen bg-[#fef7e8]">
  <div class="absolute bottom-2 z-10">
    <img
      class="bg-no-repeat"
      src="https://biyagvzgfmfdacqnofkq.supabase.co/storage/v1/object/public/images/infoleague.png?t=2024-03-28T17%3A55%3A13.717Z"
      alt="señor"
    />
  </div>
  <div class="absolute md:top-0 md:left-0 object-fill">
    <img
      class="object-cover bg-no-repeat bg-cover"
      src="https://biyagvzgfmfdacqnofkq.supabase.co/storage/v1/object/public/images/seniorLeague-mu2.png?t=2024-03-28T08%3A42%3A49.401Z"
      alt="señor"
    />
  </div>
</div>
